* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body, div, .v-application, .v-app, .v-main, .v-btn, .v-card, .v-toolbar, .v-app-bar, .v-list, .v-data-table, .v-text-field, .v-dialog, .v-breadcrumbs, .v-navigation-drawer {
  font-family: 'Poppins', sans-serif !important;
}